.wrapChat{
    display: flex;
    overflow-y: scroll;
    height: 92vh;
}

.chatContent li{
    list-style: none;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.chatInput{
    width: 100vh;
height: 10vh;
margin: 2%;
}
.blocBG{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vh;
   
}

.textChatRight{
    text-align: right;
    margin-left: 25%;
    background-image: linear-gradient(to bottom right,#3ccab2,#98f8f0);
border-radius: 20px;
padding: 8px 15px;
margin-top: 5px;
margin-bottom: 5px;
list-style: none;
position: relative;

}


.textChatLeft{
    margin-left: 2%;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    position: relative;
    text-align: left;
margin-right: 25%;
background-image: linear-gradient(to bottom right,#e9e9e9,#ffffff);
}


.offerBt{
    margin-left: 30vw;
    margin-top: 10px;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
background-image: linear-gradient(315deg, #bf033b 0%, #bea018 74%);
}