.mentorCard {
  margin-top: -3.5em;
}
.mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5em;
  width: 85vw;
}

.mentorTitle {
  display: flex;
  justify-content: center;
}

.searchBarMentor {
  display: flex;
  justify-content: center;
}

.mentorDetail {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4vw;
}

.buttonMentor {
  display: flex;
  margin-left: 4vw;
}
