footer {
  border-top: 2px solid #d1d1d1;
  padding-top: 0.2em;
  display: flex;
  height: 4vw;
}

.credits {
  margin-top: 0.1vw;
  display: flex;
  margin-left: 37%;
  margin-right: auto;
  margin-bottom: 2vw;
}
.logo {
  height: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  margin-top: unset;
  margin-top: 1em;
}
